<section>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="color:white"><b>Core team</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link btn btn-dark text-white" href="/admin">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {{#if admin}}
        <a class="nav-link btn btn-danger text-white" href="/admin/adminlogout">Logout</a>
        {{else}}
        <a class="nav-link btn btn-primary" href="/login-admin">Login</a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
</section>